version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: python-dev
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    command: >
      bash -c "uvicorn src.projects.stardew_manager_1.backend.main:app --host 0.0.0.0 --port 8000"
